* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: black;
}

.px-corner {
  position: absolute;
  transform: rotate(45deg);
  cursor: grab;
  z-index: 2;
}

.px-container {
  position: absolute;
  overflow: hidden;
}
