* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: black;
}

.ps-corner {
  position: absolute;
  transform: rotate(45deg);
  cursor: grab;
}

.ps-container {
  position: absolute;
  overflow: hidden;
}
